body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  /* DONE spremeni tole zadevo */
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* tole razdeli na vec delov */
#okvir-kanala {
  background-color: #ddd;
  /* DONE spremeni background-color */
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  /* DONE spremeni background-color */
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}

#seznam-okvir {
  float: right;
  width: 15%;
  height: 300px;
  overflow: auto;
}

#seznam-kanalov {
  width: 100%;
  height: 50%;
}

#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#seznam-vzdevkov {
	width:100%;
	height:50%;
}

#poslji-sporocilo {
  width: 85%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#naziv {
  display: inline;
}

#kanal {
  display: inline;
}
